<div id="<%= dom_id media_attachment %>">
  <% remote_url_or_file = media_attachment.remote_url.presence || media_attachment.file %>
  <% if media_attachment.image? %>
    <div data-controller="alt-toggle" class="relative inline-block">
      <% if media_attachment.remote_url.present? || media_attachment.file.attached? %>
        <%= image_tag(remote_url_or_file, style: "width: 300px; height: auto", alt: "#{media_attachment.description || ''}") %>
      <% end %>
      <% if media_attachment.description.present? %>
        <a href="#" class="ml-2" data-action="click->alt-toggle#toggle">ALT</a>
        <div data-alt-toggle-target="description" class="absolute z-10 mt-1 px-2 py-1 bg-gray-800 text-white text-sm rounded hidden">
          <%= media_attachment.description %>
        </div>
      <% end %>
    </div>
  <% elsif media_attachment.video? %>
    <%= content_tag :video, controls: true do %>
      <%= tag :source, src: remote_url_or_file, type: media_attachment.content_type %>
    <% end %>
  <% elsif media_attachment.audio? %>
    <audio controls>
      <source src="<%= remote_url_or_file %>">
    </audio>
  <% end %>
</div>
