<%= turbo_frame_tag(dom_id status) do %>
  <% if !child_view %>
  <% if status.thread.present? %>
    <%= link_to "replying to", current_user.present? ? status_path(status.thread) : status.thread.uri, data: {'turbo-frame': '_top'} %> <%= status.thread.account.webfinger_to_s %>
  <% end %>
  <% end %>
  <div><%= image_tag status.account.icon_url_or_default, style: 'display: inline; padding: 2px; max-width: 50px; max-height: 50px;' %><b><%= link_to status.account.name, status.account, data: {'turbo-frame': '_top'} %></b> posted <%= local_or_origin_link(status) %></div>
  <div class="m-2">
    <%= sanitized(status, self) %>
    <% if 'history' == action_name %>
      <% parent_status = nil %>
      <% status.versions.unscope(:order).order(created_at: :desc).each do |v| %>
        <hr />
        <% old_status_hash = JSON.parse(v.object).transform_keys(&:to_sym) %>
        <% old_status = Status.new(old_status_hash) %>
        <%= v.created_at.to_fs(:rfc822) %>:
        <%= diff_text(old_status.text, parent_status.present? ? parent_status.text : status.text) %>
        <% parent_status = old_status %>
      <% end %>
    <% end %>
  </div>
  <% status.media_attachments.each do |media_attachment| %>
    <%= render partial: media_attachment %>
  <% end %>
  <% if current_user %>
    <% if status.language != current_user.language %>
      <div style="display: inline-block; padding: 0 8px 4px 8px;">
        <%= link_to "Translate", translate_status_path(status) %>
      </div>
    <% end %>
    <% if status.versions.any? %>
      <div style="display: inline-block; padding: 0 8px 4px 8px;">
        <%= link_to "History", history_status_path(status) %>
      </div>
    <% end %>
    <% if status.account != current_user.account %>
      <div style="display: inline-block; padding: 0 8px 4px 8px;">
      <% if like = Like.find_by(status: status, account: current_user.account) %>
        <%= button_to('Unlike', like_path(like), method: 'delete', style: 'text-decoration: underline') %>
      <% else %>
        <%= button_to('Like', likes_path(status_id: status.id), method: 'post', style: 'text-decoration: underline') %>
      <% end %>
      </div>
      <div style="display: inline-block; padding: 0 8px 4px 8px;">
      <% if boost = Status.find_by(account: current_user.account, reblog_of_id: status.id, text: '') %>
        <%= button_to('Unboost', unboost_status_path(status), method: 'post', style: 'text-decoration: underline') %>
      <% else %>
        <%= button_to('Boost', boost_status_path(status), method: 'post', form: { data: { 'turbo-confirm': 'Are you sure?' } }, style: 'text-decoration: underline') %>
      <% end %>
      </div>
    <% end %>
  <% end %>
  <% if child_view %>
  <div class="px-3">
    <% status.replies.each do |reply| %>
      <div class="px-3">
        <%= render partial: reply, locals: { child_view: true } %>
      </div>
    <% end %>
  </div>
  <% end %>
<% end %>
