<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <div id="<%= dom_id @network_event %>">
      <%= render @network_event %>

      <p class="my-5">
        <strong class="block font-medium mb-1">Path:</strong>
        <%= @network_event.path %>
      </p>
      <div class="my-5">
        <strong class="block font-medium mb-1">Backtrace:</strong>
        <pre class="text-sm overflow-x-auto"><%= @network_event.backtrace %></pre>
      </div>
    </div>

    <%= link_to "Edit this network event", edit_admin_network_event_path(@network_event), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to network events", admin_network_events_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this network event", [:admin, @network_event], method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
