<%= turbo_frame_tag(dom_id like) do %>
  <div><%= image_tag like.account.icon_url_or_default, style: 'display: inline; padding: 2px; max-width: 50px; max-height: 50px;' %><b><%= link_to like.account.name, like.account, data: {'turbo-frame': '_top'} %></b> liked <%= link_to like.status.id, like.status, data: {'turbo-frame': '_top'} %> <%= time_ago_in_words(like.created_at) %> ago</div>
<% end %>
