<div class="px-3">
<h1 class="px-3 my-3 text-2xl text-gray-700 font-bold">Sign Up</h1>

<%= form_for @user, data: { turbo: false } do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li style="color: red"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, style: "display: block" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :url, style: "display: block" %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :language, style: "display: block" %>
    <%= f.select :language, Status::LANGUAGES %>
  </div>
  <div class="field">
    <%= f.label :password, style: "display: block" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, style: "display: block" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div style="width: 290px; height: 40px;">
    <button style="float: right" class="py-1 px-2 bg-blue-600 border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 rounded-lg my-3 text-blue-100 transition-colors duration-300"><%= f.submit  "Sign up"%></button>
  </div>
<% end %>
</div>
