<div id="<%= dom_id access_token %>" class="m-2 px-50" style="background-color: rgb(241 245 249);">
    <img src="<%= access_token.authorization_code.client_app.logo_url %>" style="display: inline;" width=100 height=100>
    <span class="mr-3"><%= link_to access_token.created_at.to_s(:rfc822), access_token_path(access_token) %></span><span class="mr-3"><a href="<%= access_token.authorization_code.client_id %>"><%= access_token.authorization_code.client_id %></a></span><span class="font-bold"><%= access_token.authorization_code.scope %></span>
</div>
