<%= turbo_frame_tag(dom_id mention_notification) do %>
  <div><%= image_tag mention_notification.account.icon_url_or_default, style: 'display: inline; padding: 2px; max-width: 50px; max-height: 50px;' %><b><%= link_to mention_notification.account.name, mention_notification.account, data: {'turbo-frame': '_top'} %></b> mentioned you in <%= link_to mention_notification.status.id, mention_notification.status, data: {'turbo-frame': '_top'} %> <%= time_ago_in_words(mention_notification.created_at) %> ago</div>
<% end %>
