<h2 class="px-3 my-3 text-2xl text-gray-700 font-bold">Authenticate</h2>
<div style="width: 600px; height: 100px" >
  <div class="px-3" style="float: left">
    <img src="<%= @client.logo_url %>" width=100 height=100>
  </div>
  <div class="px-1 py-1" style="float: right; width: 460px; height: 100px;">
    The app <a href="<%= session[:client_id] %>"><%= @client.name %></a> has requested the following scopes: <span class="font-bold"><%= params[:scope] %></span>
  </div>
</div>
<div>
<%= form_tag authorizations_path, data: {turbo: false} do %>
  <div style="width: 500px; height: 40px;">
    <button style="float: right" class="py-1 px-2 bg-blue-600 border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 rounded-lg my-3 text-blue-100 transition-colors duration-300"><%= submit_tag 'Approve' %></button>
  </div>
<% end %>
