<!DOCTYPE html>
<html>
  <head>
    <title>Irwin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <style>
      button a {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div id="user_nav" class="px-3">
    <% if current_user %>
      <span class="mr-3"><a href="<%= current_user.url %>"><%= current_user.url %></a></span> |
      <span class="mr-3 ml-3"><%= link_to "Home", root_path %></a></span> |
      <span class="mr-3 ml-3"><%= link_to "Search", new_search_path %></a></span> |
      <span class="mr-3 ml-3"><%= link_to "Authorizations", authorizations_path %></a></span> |
      <span class="mr-3 ml-3"><%= link_to "Followers", followers_path %></a></span> |
      <span class="mr-3 ml-3"><%= link_to "Following", following_path %></a></span> |
      <button class="ml-3 mt-1 py-1 px-2 rounded-lg border-2 bg-blue-600 border-blue-700 hover:bg-blue-100 hover:text-blue-600 text-blue-100 transition-colors duration-300"><a href="/logout">Logout</a></button>
    <% else %>
      <%= link_to 'Log in', login_path %> | <%= link_to 'Sign up', signup_path %>
    <% end %>
    </div>
    <p style="color: green"><%= notice %></p>
    <%= yield %>
    <div class="px-3 my-3">
      This website is <a href="https://github.com/herestomwiththeweather/irwin">open source</a>
    </div>
  </body>
</html>
