<div id="<%= dom_id account %>" class="m-2 px-5">
  <p class="font-bold">
    <img src = "<%= account.icon %>"><%= link_to name(account), account %>
  </p>

  <p class="text-gray-800">
    <%= account.username %>
  </p>

  <p>
  <% if current_user&.account&.follows?(account) %>
    <% follow = Follow.find_by(account: current_user&.account, target_account: account) %>
    <%= button_to 'Unfollow', follow_path(follow), method: :delete, class: "rounded-lg border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 py-3 ml-1 my-3 px-3 bg-blue-600 text-blue-100 transition-colors duration-300", 'data-turbo': false %>
  <% else %>
    <%= button_to('Follow', follow_account_path(account), method: :post, class: "rounded-lg border-2 border-blue-700 hover:bg-blue-100 hover:text-blue-600 py-3 ml-1 my-3 px-3 bg-blue-600 text-blue-100 transition-colors duration-300", 'data-turbo': false) %>
  <% end %>
  </p>
</div>
