<%= render @account %>
<div class="m-2 px-5">
  <% if @account.moved_to_account.present? %>
    <b><%= @account.preferred_username %> has indicated that their new account is now <%= link_to @account.moved_to_account.preferred_username, @account.moved_to_account %><br/></b>
  <% end %>
</div>
<% if current_user %>
<div class="m-2 px-5">
  <%= render partial: 'statuses/form', locals: { direct_recipient_id: @account.id } %>
</div>
<% end %>
<div class="m-2 px-5">
  <% @statuses.each do |status| %>
    <div class="m-2 px-5 <%= classes_for_type(status) %>">
      <%= render partial: status.reblog || status, locals: { child_view: false } %>
    </div>
    <hr />
  <% end %>
</div>
<div style="height: 20px">
</div>
<% if current_user %>
<div class="m-2 px-5">
  <%= paginate @statuses %>
</div>
<% end %>
